<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cease"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cease"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        android:usesCleartextTraffic="true">
        <activity android:name=".Survey"></activity>
        <activity android:name=".Signup" />
        <activity android:name=".UserView" />
        <activity android:name=".Login" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/mod3_name" />
        <activity
            android:name=".Lesson7"
            android:label="@string/mod3_name" />
        <activity
            android:name=".Module3Complete"
            android:label="@string/mod3_name" />
        <activity
            android:name=".Module3Web"
            android:label="@string/mod3_name" />
        <activity
            android:name=".Module3"
            android:label="@string/mod3_name" />
        <activity
            android:name=".Lesson6"
            android:label="@string/mod2_name" />
        <activity
            android:name=".Module2Web"
            android:label="@string/mod2_name" />
        <activity
            android:name=".Module2Complete"
            android:label="@string/mod2_name" />
        <activity
            android:name=".Lesson5"
            android:label="@string/mod2_name" />
        <activity
            android:name=".Lesson4"
            android:label="@string/mod2_name" />
        <activity
            android:name=".Main1Activity"
            android:label="@string/mod1_name" />
        <activity
            android:name=".Lesson3"
            android:label="@string/mod1_name" />
        <activity
            android:name=".Lesson2"
            android:label="@string/mod1_name" />
        <activity
            android:name=".Module2"
            android:banner="@color/cease_purple"
            android:label="@string/mod2_name" />
        <activity
            android:name=".Module1Complete"
            android:label="@string/mod1_name" />
        <activity
            android:name=".Module1Web"
            android:label="@string/mod1_name" />
        <activity
            android:name=".Lesson1"
            android:label="@string/mod1_name" />
        <activity
            android:name=".Module1"
            android:label="@string/mod1_name" />
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>